.app-main{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}
.content-container{
    flex-grow: 1;
    overflow: auto;
}
.content{
    min-height: min-content;
}
.navbar{
    z-index: 1000;
}
.left-navbar{
    width:12em;
}